{% extends 'baseAdmin.html.twig' %}

{% block title %}New Apropos{% endblock %}

{% block body %}
    <h1>Create new Apropos</h1>

    {{ include('admin/apropos/_form.html.twig') }}

    <a class='btn btn-success' href="{{ path('app_admin_apropos_index') }}">back to list</a>
{% endblock %}
